chunks/
data/Taxi_Trips_-_2017.csv
data/Taxi_Trips_-_2017.csv:Zone.Identifier
data/trips_prepared_2.hdf5:Zone.Identifier
data/trips.hdf5
data/trips_prepared.hdf5
data/trips.yaml
local_helpers/__pycache__/__init__.cpython-310.pyc
