absl-py==1.4.0
anyio==3.6.2
aplus==0.11.0
astropy==5.2.2
asttokens @ file:///opt/conda/conda-bld/asttokens_1646925590279/work
astunparse==1.6.3
attrs==23.1.0
backcall @ file:///home/ktietz/src/ci/backcall_1611930011877/work
beautifulsoup4 @ file:///croot/beautifulsoup4-split_1681493039619/work
blake3==0.3.3
boltons @ file:///croot/boltons_1677628692245/work
bqplot==0.12.39
branca==0.6.0
brotlipy==0.7.0
cachetools==5.3.0
category-encoders==2.6.1
certifi @ file:///croot/certifi_1690232220950/work/certifi
cffi @ file:///croot/cffi_1670423208954/work
chardet==5.2.0
charset-normalizer @ file:///tmp/build/80754af9/charset-normalizer_1630003229654/work
click==8.1.3
click-plugins==1.1.1
cligj==0.7.2
cloudpickle==2.2.1
comm @ file:///croot/comm_1671231121260/work
conda @ file:///croot/conda_1689269889729/work
conda-package-handling @ file:///croot/conda-package-handling_1685024767917/work
conda_package_streaming @ file:///croot/conda-package-streaming_1685019673878/work
contourpy==1.0.7
cryptography @ file:///croot/cryptography_1686613057838/work
cycler==0.11.0
dask==2023.5.0
debugpy @ file:///home/builder/ci_310/debugpy_1640789504635/work
decorator @ file:///opt/conda/conda-bld/decorator_1643638310831/work
executing @ file:///opt/conda/conda-bld/executing_1646925071911/work
fastapi==0.95.2
filelock==3.12.0
Fiona==1.9.4.post1
flatbuffers==23.5.26
folium==0.14.0
fonttools==4.39.4
frozendict==2.3.8
fsspec==2023.5.0
future==0.18.3
gast==0.4.0
geojson==3.0.1
geopandas==0.13.2
google-auth==2.22.0
google-auth-oauthlib==1.0.0
google-pasta==0.2.0
grpcio==1.57.0
gym==0.26.2
gym-notices==0.0.8
h11==0.14.0
h3==3.7.6
h5py==3.8.0
httptools==0.5.0
idna @ file:///croot/idna_1666125576474/work
importlib-metadata==6.6.0
ipydatawidgets==4.3.3
ipykernel @ file:///croot/ipykernel_1671488378391/work
ipyleaflet==0.17.2
ipympl==0.9.3
ipython @ file:///croot/ipython_1680701871216/work
ipython-genutils==0.2.0
ipyvolume==0.6.1
ipyvue==1.9.0
ipyvuetify==1.8.10
ipywebrtc==0.6.0
ipywidgets==8.0.6
jedi @ file:///tmp/build/80754af9/jedi_1644315229345/work
Jinja2==3.1.2
joblib @ file:///croot/joblib_1685113087166/work
jsonpatch @ file:///tmp/build/80754af9/jsonpatch_1615747632069/work
jsonpointer==2.1
jupyter_client @ file:///croot/jupyter_client_1680171862562/work
jupyter_core @ file:///croot/jupyter_core_1679906564508/work
jupyterlab-widgets==3.0.7
keras==2.13.1
keras-rl2==1.0.5
kiwisolver==1.4.4
libclang==16.0.6
llvmlite==0.40.0
locket==1.0.0
mapclassify==2.6.0
Markdown==3.4.4
markdown-it-py==2.2.0
MarkupSafe==2.1.2
matplotlib==3.7.1
matplotlib-inline @ file:///opt/conda/conda-bld/matplotlib-inline_1662014470464/work
mdurl==0.1.2
mkl-fft==1.3.6
mkl-random @ file:///work/mkl/mkl_random_1682950433854/work
mkl-service==2.4.0
nest-asyncio @ file:///croot/nest-asyncio_1672387112409/work
networkx==3.1
numba==0.57.0
numpy==1.24.3
oauthlib==3.2.2
opt-einsum==3.3.0
packaging @ file:///croot/packaging_1678965309396/work
pandas==2.0.1
parso @ file:///opt/conda/conda-bld/parso_1641458642106/work
partd==1.4.0
patsy==0.5.3
pexpect @ file:///tmp/build/80754af9/pexpect_1605563209008/work
pickleshare @ file:///tmp/build/80754af9/pickleshare_1606932040724/work
Pillow==9.5.0
platformdirs @ file:///opt/conda/conda-bld/platformdirs_1662711380096/work
pluggy @ file:///tmp/build/80754af9/pluggy_1648024709248/work
progressbar2==4.2.0
prompt-toolkit @ file:///croot/prompt-toolkit_1672387306916/work
protobuf==4.24.0
psutil @ file:///opt/conda/conda-bld/psutil_1656431268089/work
ptyprocess @ file:///tmp/build/80754af9/ptyprocess_1609355006118/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl
pure-eval @ file:///opt/conda/conda-bld/pure_eval_1646925070566/work
pyarrow==12.0.0
pyasn1==0.5.0
pyasn1-modules==0.3.0
pycosat @ file:///croot/pycosat_1666805502580/work
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
pydantic==1.10.7
pyerfa==2.0.0.3
Pygments @ file:///croot/pygments_1684279966437/work
pyOpenSSL @ file:///croot/pyopenssl_1677607685877/work
pyparsing==3.0.9
pyproj==3.6.0
PySocks @ file:///home/builder/ci_310/pysocks_1640793678128/work
python-dateutil @ file:///tmp/build/80754af9/python-dateutil_1626374649649/work
python-dotenv==1.0.0
python-utils==3.5.2
pythreejs==2.4.2
pytz==2023.3
PyYAML==6.0
pyzmq @ file:///croot/pyzmq_1686601365461/work
requests @ file:///croot/requests_1682607517574/work
requests-oauthlib==1.3.1
rich==13.3.5
rl==3.1
rsa==4.9
ruamel.yaml @ file:///croot/ruamel.yaml_1666304550667/work
ruamel.yaml.clib @ file:///croot/ruamel.yaml.clib_1666302247304/work
scikit-learn==1.3.0
scipy==1.9.3
seaborn==0.12.2
selenium @ file:///home/builder/ci_310/selenium_1640794525077/work
shapely==2.0.1
six @ file:///tmp/build/80754af9/six_1644875935023/work
sniffio==1.3.0
soupsieve @ file:///croot/soupsieve_1680518478486/work
stack-data @ file:///opt/conda/conda-bld/stack_data_1646927590127/work
starlette==0.27.0
statsmodels==0.14.0
tabulate==0.9.0
tensorboard==2.13.0
tensorboard-data-server==0.7.1
tensorflow==2.13.0
tensorflow-estimator==2.13.0
tensorflow-io-gcs-filesystem==0.33.0
termcolor==2.3.0
threadpoolctl @ file:///Users/ktietz/demo/mc3/conda-bld/threadpoolctl_1629802263681/work
toolz @ file:///croot/toolz_1667464077321/work
tornado @ file:///opt/conda/conda-bld/tornado_1662061693373/work
tqdm @ file:///croot/tqdm_1679561862951/work
traitlets @ file:///croot/traitlets_1671143879854/work
traittypes==0.2.1
typing_extensions==4.5.0
tzdata==2023.3
urllib3 @ file:///croot/urllib3_1686163155763/work
uvicorn==0.22.0
uvloop==0.17.0
vaex==4.16.0
vaex-astro==0.9.3
vaex-core==4.16.1
vaex-hdf5==0.14.1
vaex-jupyter==0.8.1
vaex-ml==0.18.1
vaex-server==0.8.1
vaex-viz==0.5.4
watchfiles==0.19.0
wcwidth @ file:///Users/ktietz/demo/mc3/conda-bld/wcwidth_1629357192024/work
websockets==11.0.3
Werkzeug==2.3.7
widgetsnbextension==4.0.7
wrapt==1.15.0
xarray==2023.4.2
xyzservices==2023.2.0
zipp==3.15.0
zstandard @ file:///croot/zstandard_1677013143055/work
